dashboard-server/customizations/flows.json
[
    {
        "id": "6c747542.08dd5c",
        "type": "tab",
        "label": "FarmerDashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1f59fa5c.a5c906",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6629e90.eb606",
        "type": "tab",
        "label": "IOT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bfeb96e7.214758",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "cloud_sensor_data"
    },
    {
        "id": "467233b1.989eac",
        "type": "ui_group",
        "z": "",
        "name": "Farm Overview",
        "tab": "b4290e4c.56148",
        "order": 3,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "eacbec26.b99f6",
        "type": "ui_group",
        "z": "",
        "name": "Statistics",
        "tab": "b4290e4c.56148",
        "order": 1,
        "disp": false,
        "width": "27",
        "collapse": false
    },
    {
        "id": "78e7b5a9.4390fc",
        "type": "ui_group",
        "z": "",
        "name": "Individual Farm statistics",
        "tab": "b4290e4c.56148",
        "order": 4,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "b4290e4c.56148",
        "type": "ui_tab",
        "z": "",
        "name": "Farmer",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "273366ce.cf061a",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "cloud_sensor_data"
    },
    {
        "id": "1844233e.73133d",
        "type": "ui_group",
        "z": "",
        "name": "Farmer Notifications & Floor Map",
        "tab": "b4290e4c.56148",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "2af03a2b.e3d086",
        "type": "ui_group",
        "z": "",
        "name": "IOT location",
        "tab": "11735550.0c488b",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9d45dd60.46745",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "network_data"
    },
    {
        "id": "b5395805.648fb8",
        "type": "ui_tab",
        "z": "",
        "name": "Farmer",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "f99391a3.e46e4",
        "type": "ui_tab",
        "z": "",
        "name": "IOT Support",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "2effedb.e413f12",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "cloud_sensor_data"
    },
    {
        "id": "8a6ce203.70b13",
        "type": "ui_group",
        "z": "",
        "name": "Summary",
        "tab": "11735550.0c488b",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "eb65a4c7.e29348",
        "type": "ui_group",
        "z": "",
        "name": "IOT location",
        "tab": "11735550.0c488b",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c1c2ef41.d56f8",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "cloud_sensor_data"
    },
    {
        "id": "bfce5f2b.12353",
        "type": "ui_group",
        "z": "",
        "name": "IOT Status Chart",
        "tab": "11735550.0c488b",
        "order": 5,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "9338cef.74d3c3",
        "type": "ui_group",
        "z": "",
        "name": "Individual Farmer Statistics",
        "tab": "11735550.0c488b",
        "order": 4,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "11735550.0c488b",
        "type": "ui_tab",
        "z": "",
        "name": "IOT Support",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ea0c84c.8ad058",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e03914a6.d49418",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eacbec26.b99f6",
        "order": 2,
        "width": "2",
        "height": "2"
    },
    {
        "id": "1986640d.fb5a3c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eacbec26.b99f6",
        "order": 4,
        "width": "2",
        "height": "2"
    },
    {
        "id": "3f8832f9.96754e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eacbec26.b99f6",
        "order": 6,
        "width": "2",
        "height": "2"
    },
    {
        "id": "95fbe27b.9e00b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "467233b1.989eac",
        "order": 2,
        "width": "2",
        "height": "5"
    },
    {
        "id": "fa16ba1a.049aa8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "467233b1.989eac",
        "order": 4,
        "width": "2",
        "height": "5"
    },
    {
        "id": "6d4b07e9.31cad8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "467233b1.989eac",
        "order": 6,
        "width": "5",
        "height": "5"
    },
    {
        "id": "18eca40.9e9f85c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "467233b1.989eac",
        "order": 8,
        "width": "3",
        "height": "5"
    },
    {
        "id": "f992b9f7.24a9f8",
        "type": "cassandra",
        "z": "6c747542.08dd5c",
        "mydb": "bfeb96e7.214758",
        "name": "cloud_sensor_data",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "a2dee521.c72988",
                "bb2b3786.002248",
                "3895c643.879a9a",
                "576eb3aa.4898bc",
                "f1760f3d.29246",
                "45bbf6b2.b56b08"
            ]
        ]
    },
    {
        "id": "ec2f0ec5.5bc57",
        "type": "inject",
        "z": "6c747542.08dd5c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e943b0aa.e807a"
            ]
        ]
    },
    {
        "id": "edd20df0.f18e3",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "467233b1.989eac",
        "order": 3,
        "width": "7",
        "height": "5",
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "18a83433.91c74c",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "467233b1.989eac",
        "order": 5,
        "width": "7",
        "height": "5",
        "label": "WindSpeed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f25c45.384c1",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "467233b1.989eac",
        "order": 7,
        "width": "7",
        "height": "5",
        "label": "Rain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 770,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd91749.9a5828",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "467233b1.989eac",
        "order": 9,
        "width": "7",
        "height": "5",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e943b0aa.e807a",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "DB query",
        "func": "msg.topic = \"select * from cloud_sensor_data.SensorData where farmer_id = '1' LIMIT 20\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "f992b9f7.24a9f8"
            ]
        ]
    },
    {
        "id": "db2848b3.8a33f8",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "Temperature",
        "group": "467233b1.989eac",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Sensor",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a2dee521.c72988",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "getFarmStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].farm_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "5df5ca07.957a04"
            ]
        ]
    },
    {
        "id": "bb2b3786.002248",
        "type": "debug",
        "z": "6c747542.08dd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "3895c643.879a9a",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "getRanchStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].ranch_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "554b89e7.5180f8"
            ]
        ]
    },
    {
        "id": "576eb3aa.4898bc",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "getClusterStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].cluster_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "ecd57a91.e48708"
            ]
        ]
    },
    {
        "id": "f1760f3d.29246",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "getSensorStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].sensor_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 646,
        "y": 660,
        "wires": [
            [
                "b2592817.dcb5f8"
            ]
        ]
    },
    {
        "id": "554b89e7.5180f8",
        "type": "ui_text",
        "z": "6c747542.08dd5c",
        "group": "eacbec26.b99f6",
        "order": 3,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Ranches",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "ecd57a91.e48708",
        "type": "ui_text",
        "z": "6c747542.08dd5c",
        "group": "eacbec26.b99f6",
        "order": 5,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Clusters",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "b2592817.dcb5f8",
        "type": "ui_text",
        "z": "6c747542.08dd5c",
        "group": "eacbec26.b99f6",
        "order": 7,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Sensors",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "5df5ca07.957a04",
        "type": "ui_text",
        "z": "6c747542.08dd5c",
        "group": "eacbec26.b99f6",
        "order": 1,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Farms",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "91d6e8fd.632368",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Fetching farms",
        "func": "for(var i = 0; i< msg.payload.length; i++)\n{\n        msg.payload[i] = msg.payload[i].farm_id;\n}\n\nconst ar = msg.payload;\nconst distinctar = [...new Set(ar)];\nmsg.options = distinctar;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 740,
        "wires": [
            [
                "bd5060e3.28f7f"
            ]
        ]
    },
    {
        "id": "bd5060e3.28f7f",
        "type": "ui_dropdown",
        "z": "6c747542.08dd5c",
        "name": "Farm ID",
        "label": "",
        "tooltip": "",
        "place": "Select Farm ID",
        "group": "78e7b5a9.4390fc",
        "order": 1,
        "width": "5",
        "height": "4",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "da5ad7ed.de3858"
            ]
        ]
    },
    {
        "id": "da5ad7ed.de3858",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Details of the farm selected",
        "func": "var farmid = msg.payload\n//node.error(farmid);\nvar query = \"select * from cloud_sensor_data.SensorData where farmer_id ='1' and  farm_id = '\"+farmid+\"'  ALLOW FILTERING;\";\n//node.error(query);\n//msg.topic = \"select * from cloud_sensor_data.SensorData where farm_id = 'msg.payload' ALLOW FILTERING\";\nmsg.topic = query;\nmsg.payload = null;\n//node.error(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "53e6f50d.07c2ac"
            ]
        ]
    },
    {
        "id": "f919cd2.269f33",
        "type": "debug",
        "z": "6c747542.08dd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "53e6f50d.07c2ac",
        "type": "cassandra",
        "z": "6c747542.08dd5c",
        "mydb": "bfeb96e7.214758",
        "name": "cloud_sensor_data",
        "x": 870,
        "y": 800,
        "wires": [
            [
                "f919cd2.269f33",
                "eedc6965.6780b8"
            ]
        ]
    },
    {
        "id": "eedc6965.6780b8",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Fetching ranches",
        "func": "for(var i = 0; i< msg.payload.length; i++)\n{\n        msg.payload[i] = msg.payload[i].ranch_id;\n}\n\nconst ar = msg.payload;\nconst distinctar = [...new Set(ar)];\nmsg.options = distinctar;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 860,
        "wires": [
            [
                "ed95829.e6ab38"
            ]
        ]
    },
    {
        "id": "97134654.bbf5e8",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Details of the ranch selected",
        "func": "var ranchid = msg.payload\n//node.error(farmid);\nvar query = \"select sensor_type, sensor_data from cloud_sensor_data.SensorData where farmer_id ='1' and  ranch_id = '\"+ranchid+\"'  ALLOW FILTERING;\";\n//node.error(query);\n//msg.topic = \"select * from cloud_sensor_data.SensorData where farm_id = 'msg.payload' ALLOW FILTERING\";\nmsg.topic = query;\nmsg.payload = null;\n//node.error(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 860,
        "wires": [
            [
                "8a552de7.aa26f"
            ]
        ]
    },
    {
        "id": "8a552de7.aa26f",
        "type": "cassandra",
        "z": "6c747542.08dd5c",
        "mydb": "bfeb96e7.214758",
        "name": "cloud_sensor_data",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "28d2c3cf.502c2c",
                "a229260e.c25988"
            ]
        ]
    },
    {
        "id": "45bbf6b2.b56b08",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Parser",
        "func": "let arr = (msg.payload);\narr.forEach(sensor => {\n    const res = {\n        \"topic\": sensor.sensor_id,\n        \"payload\": sensor.sensor_data,\n        \"series\": sensor.sensor_id,\n    };\n    if(sensor.sensor_type === \"temperature\") {\n        node.send([res,null,null,null,null]);\n    }\n    if(sensor.sensor_type === \"humidity\") {\n        node.send([null,res,null,null,null]);\n    }\n    if(sensor.sensor_type === \"windSpeed\") {\n       node.send([null,null,res,null,null]);\n    }\n    if(sensor.sensor_type === \"rain\") {\n      node.send([null,null,null,res,null]);\n    }\n    if(sensor.sensor_type === \"soilMoisture\") {\n       node.send([null,null,null,null,res]);\n    }\n    \n    \n    \n});",
        "outputs": 5,
        "noerr": 0,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "db2848b3.8a33f8"
            ],
            [
                "6bd91749.9a5828"
            ],
            [
                "18a83433.91c74c"
            ],
            [
                "d7f25c45.384c1"
            ],
            [
                "edd20df0.f18e3"
            ]
        ]
    },
    {
        "id": "28d2c3cf.502c2c",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "Details of the farm",
        "func": "let arr = [];\nlet style = [];\nvar rain=0;\nvar temperature=0;\nvar humidity= 0;\nvar windSpeed= 0;\nvar soilMoisture=0;\n\nvar ranch = msg.payload || [];\nranch.forEach(r => {\n     if(r.sensor_type === \"rain\")\n    {\n      rain++;\n       msg.topic = \"rain\";\n       msg.payload = rain;\n      \n    }\n     else if(r.sensor_type ===\"humidity\")\n     {\n       humidity++;\n       msg.topic = \"humidity\";\n       msg.payload = humidity;\n     }\n     else if(r.sensor_type ===\"temperature\")\n    {\n      temperature++;\n       msg.topic = \"temperature\";\n       msg.payload = temperature;\n     }\n         else if(r.sensor_type ===\"windSpeed\")\n     {\n       windSpeed++;\n        msg.topic = \"windSpeed\";\n       msg.payload = windSpeed;\n    \n     }\n         else if(r.sensor_type ===\"soilMoisture\")\n     {\n       soilMoisture++;\n       msg.topic = \"soilMoisture\";\n       msg.payload = soilMoisture;\n       \n     }\n    else{\n         return;\n     }\n })\n\n //var count = arr;\n //var typesensor =  style;\n\n// // msg.topic = type;\n// //msg.payload = count;\n\n// msg.topic = style;\n// msg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 920,
        "wires": [
            [
                "e91a8708.fdef08",
                "7fe3c97c.d7f6f8",
                "a52ad068.02801"
            ]
        ]
    },
    {
        "id": "e91a8708.fdef08",
        "type": "debug",
        "z": "6c747542.08dd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 1120,
        "y": 920,
        "wires": []
    },
    {
        "id": "7fe3c97c.d7f6f8",
        "type": "debug",
        "z": "6c747542.08dd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "a52ad068.02801",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 2,
        "width": "10",
        "height": "4",
        "label": "Sensors by Ranch",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1160,
        "y": 1020,
        "wires": [
            [
                "3dd643cf.0098ec"
            ]
        ]
    },
    {
        "id": "3dd643cf.0098ec",
        "type": "debug",
        "z": "6c747542.08dd5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1390,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2c00036a.cdb95c",
        "type": "inject",
        "z": "6c747542.08dd5c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "6c64f2fb.f9107c"
            ]
        ]
    },
    {
        "id": "6c64f2fb.f9107c",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "DB query",
        "func": "msg.topic = \"select * from cloud_sensor_data.SensorData where farmer_id = '1'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "c97fc712.6cad88"
            ]
        ]
    },
    {
        "id": "c97fc712.6cad88",
        "type": "cassandra",
        "z": "6c747542.08dd5c",
        "mydb": "bfeb96e7.214758",
        "name": "cloud_sensor_data",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "91d6e8fd.632368"
            ]
        ]
    },
    {
        "id": "a229260e.c25988",
        "type": "function",
        "z": "6c747542.08dd5c",
        "name": "",
        "func": "let arr = (msg.payload);\narr.forEach(sensor => {\n    const res = {\n        \"topic\": sensor.sensor_id,\n        \"payload\": sensor.sensor_data,\n        \"series\": sensor.sensor_id,\n    };\n    if(sensor.sensor_type === \"temperature\") {\n        node.send([res,null,null,null,null]);\n    }\n    if(sensor.sensor_type === \"humidity\") {\n        node.send([null,res,null,null,null]);\n    }\n    if(sensor.sensor_type === \"windSpeed\") {\n       node.send([null,null,res,null,null]);\n    }\n    if(sensor.sensor_type === \"rain\") {\n      node.send([null,null,null,res,null]);\n    }\n    if(sensor.sensor_type === \"soilMoisture\") {\n       node.send([null,null,null,null,res]);\n    }\n    \n    \n    \n});",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "4abc8044.89ed3",
                "955bea8a.bf4478",
                "9acd52e5.16349",
                "1bdaf229.7cc05e",
                "1796520.eefc8ae"
            ]
        ]
    },
    {
        "id": "4abc8044.89ed3",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 6,
        "width": "5",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9acd52e5.16349",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 7,
        "width": "5",
        "height": "4",
        "label": "windspeed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "955bea8a.bf4478",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 8,
        "width": "5",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 940,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "1bdaf229.7cc05e",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 9,
        "width": "5",
        "height": "4",
        "label": "rain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "1796520.eefc8ae",
        "type": "ui_chart",
        "z": "6c747542.08dd5c",
        "name": "",
        "group": "78e7b5a9.4390fc",
        "order": 10,
        "width": "5",
        "height": "4",
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "ed95829.e6ab38",
        "type": "ui_dropdown",
        "z": "6c747542.08dd5c",
        "name": "",
        "label": "Ranch ID",
        "tooltip": "",
        "place": "Select option",
        "group": "78e7b5a9.4390fc",
        "order": 2,
        "width": "5",
        "height": "4",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 800,
        "y": 860,
        "wires": [
            [
                "97134654.bbf5e8"
            ]
        ]
    },
    {
        "id": "39c88aeb.8b01b6",
        "type": "cassandra",
        "z": "1f59fa5c.a5c906",
        "mydb": "273366ce.cf061a",
        "name": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "7af265da.25ad6c"
            ]
        ]
    },
    {
        "id": "67af5550.80acec",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "Coordinate query",
        "func": "msg.topic = \"select * from cloud_sensor_data.SensorDataByFarmer where farmer_id = '1'\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "39c88aeb.8b01b6"
            ]
        ]
    },
    {
        "id": "2bf0f2ec.0213ce",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "67af5550.80acec"
            ]
        ]
    },
    {
        "id": "bdd293e3.5c523",
        "type": "ui_template",
        "z": "1f59fa5c.a5c906",
        "group": "1844233e.73133d",
        "name": "Farmer sensor status",
        "order": 1,
        "width": "13",
        "height": "7",
        "format": "\n<table id=\"table\" border=\"1\">\n\n <tr>\n <th>Farmer ID</th>\n  <th>Sensor ID</th>\n <th>Sensor Type</th>\n <th>Timestamp</th>\n  <th>Cluster ID</th>\n  <th>Farm ID</th>\n <th>Ranch ID</th>\n <th>Sensor Data</th>\n <th>Sensor Status</th>\n <th>Notifications</th>\n \n \n </tr>\n <tbody>\n <tr class=\"pure-table-odd\" ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1059,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7af265da.25ad6c",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "threshold values",
        "func": "for(var i = 0; i< msg.payload.length; i++){\n    if(msg.payload[i].sensor_type === \"temperature\")\n      {\n          if(msg.payload[i].sensor_data <='35')\n          {\n           msg.payload[i].notification =\"Temperature is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='48' )\n          {\n           msg.payload[i].notification =\"Temperature above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"humidity\")\n      {\n          if(msg.payload[i].sensor_data <='60')\n          {\n           msg.payload[i].notification =\"humidity is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='75' )\n          {\n           msg.payload[i].notification =\"humidity above threshold level\";\n          }else\n          {\n           msg.payload[i].notification = \"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"windSpeed\")\n      {\n          if(msg.payload[i].sensor_data <='8')\n          {\n           msg.payload[i].notification =\"Wind Speed is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='12' )\n          {\n           msg.payload[i].notification =\"Wind Speed above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"rain\")\n      {\n          if(msg.payload[i].sensor_data < '0')\n          {\n           msg.payload[i].notification =\"Rain is below threshold level\";\n          }else if(msg.payload[i].sensor_data[i] >='2' )\n          {\n           msg.payload[i].notification =\"Rain above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"soilMoisture\")\n      {\n          if(msg.payload[i].sensor_data <'5')\n          {\n           msg.payload[i].notification =\"Soil Moisture is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='6' )\n          {\n           msg.payload[i].notification =\"Soil Moisture above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n}\n\nlet notif = {};\nfor(var j = 0; j< msg.payload.length;j++)\n{\n    if( msg.payload[j].notification !==\"\"){\n    notif[j] = msg.payload[j];\n    }\n}\nmsg.payload = notif;\nreturn msg;\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 80,
        "wires": [
            [
                "bdd293e3.5c523",
                "9fb43ad4.dcad28"
            ]
        ]
    },
    {
        "id": "f892992.43ef168",
        "type": "worldmap",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "deg",
        "path": "worldmap",
        "x": 739,
        "y": 180,
        "wires": []
    },
    {
        "id": "a7149da5.38c2",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "169c3b5f.f4c3a5"
            ]
        ]
    },
    {
        "id": "b70db03f.69932",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "Ranch coordinates",
        "func": "/*var arr =  [{\"Farm ID\":1,\"Ranch ID\": 1,\"lat\":54.9619349,\"lon\":-1.6003813,\"radius\": 20,\"layer\": \"drawing\",\"iconColor\": '#464646',\"stroke\": \"false\", \"fillOpacity\": 0.8,},\n            {\"Farm ID\":1,\"Ranch ID\": 2,\"lat\":54.9656694,\"lon\":-1.5239833, \"radius\": 20,\"layer\": \"drawing\",\"iconColor\": '#464646',\"stroke\": \"false\", \"fillOpacity\": 0.8,},\n            {\"Farm ID\":1,\"Ranch ID\": 3,\"lat\":54.9696456,\"lon\":-1.5069755, \"radius\": 20,\"layer\": \"drawing\",\"iconColor\": '#464646',\"stroke\": \"false\", \"fillOpacity\": 0.8,},\n            {\"Farm ID\":1,\"Ranch ID\": 4,\"lat\":54.9378907,\"lon\":-1.5273729,\"radius\": 20,\"layer\": \"drawing\",\"iconColor\": '#464646',\"stroke\": \"false\", \"fillOpacity\": 0.8}]\n*/ \n/* msg.payload = [{ \"name\":\"Ranch1\", \"lat\":37.33, \"lon\":-121.89}, { \"name\":\"Ranch2\", \"lat\":37.30, \"lon\":-121.70}, { \"name\":\"Ranch3\", \"lat\":37.40, \"lon\":-121.79}];\n//msg.payload = {\"Name\":\"Jason\", \"lat\":51.05, \"lon\":-1.35, \"radius\": 20};\n*/\nvar loc = msg.payload || []; \nvar name;\nvar lat;\nvar lon;\n//node.error(loc);\nfor (var i =0; i<=loc.length; i++)\n{\n//node.error(msg.payload.farm_id);\n// name = loc[i].farm_id;\n// lat = loc[i].lat;\n// lon = loc[i].lon;\n//node.error(loc[i].farm_id);\n// node.error(name);\n//loc[i].lat = msg.payload.lat; \n//loc[i].lon = msg.payload.lon;\n}\n//msg.payload = loc;\nmsg.payload = [{\"name\": msg.payload.farm_id, \"lat\" : msg.payload.lat, \"lon\" : msg.payload.lon }] ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 180,
        "wires": [
            [
                "f892992.43ef168",
                "7528a16.b9c476"
            ]
        ]
    },
    {
        "id": "492862a.12b499c",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "bb2170d3.1aa8d"
            ]
        ]
    },
    {
        "id": "d6d97aca.b550a8",
        "type": "ui_template",
        "z": "1f59fa5c.a5c906",
        "group": "1844233e.73133d",
        "name": "Farm location maps",
        "order": 3,
        "width": "13",
        "height": "7",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 470,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bb2170d3.1aa8d",
        "type": "template",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" width = 700px height=500px ></iframe>",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "d6d97aca.b550a8"
            ]
        ]
    },
    {
        "id": "4de4d040.ebf44",
        "type": "worldmap",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "path": "worldmap",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "b9a2f09f.14b4",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "19b8b7dc.e42158"
            ]
        ]
    },
    {
        "id": "19b8b7dc.e42158",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "Farm coordinates",
        "func": " msg.payload = [{ \"name\":\"Ranch1\", \"lat\":37.33, \"lon\":-121.89}, { \"name\":\"Ranch2\", \"lat\":37.30, \"lon\":-121.70}, { \"name\":\"Ranch3\", \"lat\":37.40, \"lon\":-121.79}];\n//msg.payload = {\"Name\":\"Jason\", \"lat\":51.05, \"lon\":-1.35, \"radius\": 20};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "4de4d040.ebf44"
            ]
        ]
    },
    {
        "id": "8ab29455.c65398",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 60,
        "y": 440,
        "wires": [
            [
                "476fc640.db8b08"
            ]
        ]
    },
    {
        "id": "edcc1cfd.9f218",
        "type": "ui_template",
        "z": "1f59fa5c.a5c906",
        "group": "2af03a2b.e3d086",
        "name": "IOTlocation maps",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 460,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "476fc640.db8b08",
        "type": "template",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" width = 700px height=500px ></iframe>",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "edcc1cfd.9f218"
            ]
        ]
    },
    {
        "id": "5a0f83e1.fe08ac",
        "type": "cassandra",
        "z": "1f59fa5c.a5c906",
        "mydb": "9d45dd60.46745",
        "name": "",
        "x": 459,
        "y": 640,
        "wires": [
            [
                "3516eacc.b44bb6"
            ]
        ]
    },
    {
        "id": "e3164bfd.08eba8",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "func": "msg.topic =\" select * from Network_Data.Farm_LocationbyFarmer \";",
        "outputs": 1,
        "noerr": 0,
        "x": 409,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "169c3b5f.f4c3a5",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "Notif",
        "func": "msg.topic =\"select * from network_data.Farm_LocationbyFarmer where farmer_id = '1';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 189,
        "y": 180,
        "wires": [
            [
                "726abc71.964434"
            ]
        ]
    },
    {
        "id": "9fb43ad4.dcad28",
        "type": "debug",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1059,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe2930e.85c9cd",
        "type": "inject",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 59,
        "y": 640,
        "wires": [
            [
                "3507694b.6e0a06"
            ]
        ]
    },
    {
        "id": "3507694b.6e0a06",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "func": "msg.topic = \"select farm_id, lat, lon from network_data.farm_locationbyfarmer\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 249,
        "y": 640,
        "wires": [
            [
                "5a0f83e1.fe08ac"
            ]
        ]
    },
    {
        "id": "65e51abe.9c15e4",
        "type": "debug",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 789,
        "y": 640,
        "wires": []
    },
    {
        "id": "3516eacc.b44bb6",
        "type": "function",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "func": "let arr = {};\nfor(var i=0; i<=msg.payload.length; i++)\n{\n    arr[i].name = msg.payload[i].farm_id;\n    arr[i].lat = msg.payload[i].lat;\n    arr[i].lon = msg.payload[i].lon;\n}\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629,
        "y": 640,
        "wires": [
            [
                "65e51abe.9c15e4"
            ]
        ]
    },
    {
        "id": "726abc71.964434",
        "type": "cassandra",
        "z": "1f59fa5c.a5c906",
        "mydb": "9d45dd60.46745",
        "name": "",
        "x": 339,
        "y": 180,
        "wires": [
            [
                "b70db03f.69932"
            ]
        ]
    },
    {
        "id": "7528a16.b9c476",
        "type": "debug",
        "z": "1f59fa5c.a5c906",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 739,
        "y": 260,
        "wires": []
    },
    {
        "id": "9758023.6135c",
        "type": "inject",
        "z": "e6629e90.eb606",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "cd8fa2a.af6d86"
            ]
        ]
    },
    {
        "id": "cd8fa2a.af6d86",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "DB query",
        "func": "msg.topic = \"select * from cloud_sensor_data.SensorData\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "72eda6ef.0eceb8"
            ]
        ]
    },
    {
        "id": "72eda6ef.0eceb8",
        "type": "cassandra",
        "z": "e6629e90.eb606",
        "mydb": "2effedb.e413f12",
        "name": "cloud_sensor_data",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "6c3b5a24.b03864",
                "d641d191.58028",
                "a3d8d833.a04438",
                "c7b2d564.901968",
                "b1a919ab.d4a4d8"
            ]
        ]
    },
    {
        "id": "6c3b5a24.b03864",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "getFarmerStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].farmer_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "be9fef91.4991"
            ]
        ]
    },
    {
        "id": "d641d191.58028",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "getFarmStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].farm_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "b8b1916f.56103"
            ]
        ]
    },
    {
        "id": "a3d8d833.a04438",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "getRanchStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].ranch_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "5ed186b2.a12558"
            ]
        ]
    },
    {
        "id": "c7b2d564.901968",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "getSensorStatistics",
        "func": "\n//var counts = {};\nfor(var i = 0; i< msg.payload.length; i++)\n{\n    msg.payload[i] = msg.payload[i].sensor_id;\n    //counts[msg.payload[i].farm_id] = 1 + (counts[msg.payload[i].farm_id] || 0);\n}\n\nvar count = 0;\nfor( var j = 0; j< msg.payload.length; j++)\n{\n    if(msg.payload[j] != msg.payload[j+1])\n    {\n        count = count +1;\n    }\n}\nmsg.payload = count;\nreturn msg;\n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "14fb71e6.212ebe"
            ]
        ]
    },
    {
        "id": "b1a919ab.d4a4d8",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "Fetching farmers",
        "func": "for(var i = 0; i< msg.payload.length; i++)\n{\n        msg.payload[i] = msg.payload[i].farmer_id;\n}\n\nconst ar = msg.payload;\nconst distinctar = [...new Set(ar)];\nmsg.options = distinctar;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "d0a78335.49fb6"
            ]
        ]
    },
    {
        "id": "be9fef91.4991",
        "type": "ui_text",
        "z": "e6629e90.eb606",
        "group": "8a6ce203.70b13",
        "order": 1,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Farmers",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8b1916f.56103",
        "type": "ui_text",
        "z": "e6629e90.eb606",
        "group": "8a6ce203.70b13",
        "order": 3,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Farms",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "5ed186b2.a12558",
        "type": "ui_text",
        "z": "e6629e90.eb606",
        "group": "8a6ce203.70b13",
        "order": 5,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Ranches",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "14fb71e6.212ebe",
        "type": "ui_text",
        "z": "e6629e90.eb606",
        "group": "8a6ce203.70b13",
        "order": 7,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Number of Sensors",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "d0a78335.49fb6",
        "type": "ui_dropdown",
        "z": "e6629e90.eb606",
        "name": "Farm ID",
        "label": "",
        "tooltip": "",
        "place": "Select Farmer ID",
        "group": "2af03a2b.e3d086",
        "order": 1,
        "width": "5",
        "height": "4",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "ed68d652.7b2458"
            ]
        ]
    },
    {
        "id": "ed68d652.7b2458",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "Details of the farmer selected",
        "func": "var farmerid = msg.payload\n//node.error(farmerid);\nvar query = \"select * from cloud_sensor_data.SensorData where farmer_id  = '\"+farmerid+\"'  ALLOW FILTERING;\";\n//node.error(query);\n//msg.topic = \"select * from cloud_sensor_data.SensorData where farm_id = 'msg.payload' ALLOW FILTERING\";\nmsg.topic = query;\nmsg.payload = null;\n//node.error(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "47687c.10001784"
            ]
        ]
    },
    {
        "id": "47687c.10001784",
        "type": "cassandra",
        "z": "e6629e90.eb606",
        "mydb": "2effedb.e413f12",
        "name": "cloud_sensor_data",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "3ed598f.4182868"
            ]
        ]
    },
    {
        "id": "482daf4a.bca23",
        "type": "inject",
        "z": "e6629e90.eb606",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "e03a9750.c0ade8"
            ]
        ]
    },
    {
        "id": "e03a9750.c0ade8",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "DB query",
        "func": "msg.topic = \"select * from cloud_sensor_data.SensorData\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "33226737.36f3c8"
            ]
        ]
    },
    {
        "id": "33226737.36f3c8",
        "type": "cassandra",
        "z": "e6629e90.eb606",
        "mydb": "c1c2ef41.d56f8",
        "name": "cloud_sensor_data",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "3657d3cb.683c7c",
                "f2985fef.e93ae"
            ]
        ]
    },
    {
        "id": "3657d3cb.683c7c",
        "type": "ui_template",
        "z": "e6629e90.eb606",
        "group": "bfce5f2b.12353",
        "name": "IOT Manager Monitoring table",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "\n<table class=\"table table-hover\" id=\"table\" border=\"1\">\n   <thead>\n <tr>\n <th scope=\"col\">Farmer ID</th>\n <th scope=\"col\">Farm ID</th> \n <th scope=\"col\">Ranch ID</th>\n <th scope=\"col\">Cluster ID</th>\n <th scope=\"col\">Sensor ID</th>\n <th scope=\"col\">Sensor Type</th>\n <th scope=\"col\">Timestamp</th>\n <th scope=\"col\">Sensor Data</th>\n <th scope=\"col\">Sensor Status</th>\n\n </tr>\n    </thead>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 750,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f2985fef.e93ae",
        "type": "debug",
        "z": "e6629e90.eb606",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ed598f.4182868",
        "type": "function",
        "z": "e6629e90.eb606",
        "name": "Parser",
        "func": "let arr = (msg.payload);\narr.forEach(sensor => {\n    const res = {\n        \"topic\": sensor.sensor_id,\n        \"payload\": sensor.sensor_data,\n        \"series\": sensor.sensor_id,\n    };\n    if(sensor.sensor_type === \"temperature\") {\n        node.send([res,null,null,null,null]);\n    }\n    if(sensor.sensor_type === \"humidity\") {\n        node.send([null,res,null,null,null]);\n    }\n    if(sensor.sensor_type === \"windSpeed\") {\n       node.send([null,null,res,null,null]);\n    }\n    if(sensor.sensor_type === \"rain\") {\n      node.send([null,null,null,res,null]);\n    }\n    if(sensor.sensor_type === \"soilMoisture\") {\n       node.send([null,null,null,null,res]);\n    }\n    \n    \n    \n});",
        "outputs": 5,
        "noerr": 0,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "2816143a.b1da7c"
            ],
            [
                "59649762.d6ae98"
            ],
            [
                "85e28ba6.f025a8"
            ],
            [
                "6d9e617b.23615"
            ],
            [
                "5534fd49.2dd224"
            ]
        ]
    },
    {
        "id": "5534fd49.2dd224",
        "type": "ui_chart",
        "z": "e6629e90.eb606",
        "name": "",
        "group": "9338cef.74d3c3",
        "order": 9,
        "width": "7",
        "height": "5",
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "85e28ba6.f025a8",
        "type": "ui_chart",
        "z": "e6629e90.eb606",
        "name": "",
        "group": "9338cef.74d3c3",
        "order": 5,
        "width": "7",
        "height": "5",
        "label": "WindSpeed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6d9e617b.23615",
        "type": "ui_chart",
        "z": "e6629e90.eb606",
        "name": "",
        "group": "9338cef.74d3c3",
        "order": 7,
        "width": "7",
        "height": "5",
        "label": "Rain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "59649762.d6ae98",
        "type": "ui_chart",
        "z": "e6629e90.eb606",
        "name": "",
        "group": "9338cef.74d3c3",
        "order": 3,
        "width": "7",
        "height": "5",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2816143a.b1da7c",
        "type": "ui_chart",
        "z": "e6629e90.eb606",
        "name": "Temperature",
        "group": "9338cef.74d3c3",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Sensor",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 380,
        "wires": [
            []
        ]
    }
]