application-server/customizations/flows.json
[
    {
        "id": "3736a922.aa8396",
        "type": "tab",
        "label": "TestDataGen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "92c9c3ef.39c9a",
        "type": "tab",
        "label": "RoleBasedLogin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85b67cb7.2993c",
        "type": "tab",
        "label": "sensor generator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79f883ec.307dec",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bd24bb3a.9e8d18",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "cf5d7930.352328",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "cf5d7930.352328",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": true,
        "hidden": false
    },
    {
        "id": "91728dc6.857af",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#4e557b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#4e557b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4e557b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7179a5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4e557b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9dba0d87.8df27",
        "type": "ui_group",
        "z": "",
        "name": "Sensor Status Board",
        "tab": "cf5d7930.352328",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "d75fe7b7.576378",
        "type": "ui_group",
        "z": "",
        "name": "Floor Map",
        "tab": "cf5d7930.352328",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "977359bb.95ba38",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8ac18d96.4f65c",
        "type": "users_config",
        "appPath": "/users",
        "jwtCookieName": "nr.nodeUsers.jwt",
        "jwtHttpsOnly": false
    },
    {
        "id": "b8131b4b.8b7018",
        "type": "ui_group",
        "z": "",
        "name": "Filters",
        "tab": "cf5d7930.352328",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "3985a5fa.25f74a",
        "type": "ui_group",
        "z": "",
        "name": "Farmer statistics",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ac095742.0d78f8",
        "type": "ui_group",
        "z": "",
        "name": "Farmer statistics",
        "tab": "fca7d883.5fb068",
        "order": 3,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "fca7d883.5fb068",
        "type": "ui_tab",
        "z": "",
        "name": "Farmer",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b23dd2d.8df864",
        "type": "ui_group",
        "z": "",
        "name": "Farm Overview",
        "tab": "fca7d883.5fb068",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "5eebc43d.5088ac",
        "type": "ui_group",
        "z": "",
        "name": "IOT Status Chart",
        "tab": "68cd881c.0b2e58",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "68cd881c.0b2e58",
        "type": "ui_tab",
        "z": "",
        "name": "IOT Support",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8268cbef.0e3d98",
        "type": "ui_group",
        "z": "",
        "name": "Farmer Notifications",
        "tab": "fca7d883.5fb068",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "43a94fb9.161a7",
        "type": "ui_group",
        "z": "",
        "name": "Floor Map",
        "tab": "68cd881c.0b2e58",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "d8285633.fb3cc8",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e81d613b.b7137",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "b6aee9de.0e7558",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "b6aee9de.0e7558",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": true,
        "hidden": true
    },
    {
        "id": "69715470.1c769c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#4e557b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#4e557b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4e557b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7179a5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4e557b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab2948ea.420c08",
        "type": "ui_group",
        "z": "",
        "name": "Sensor Status Board",
        "tab": "b6aee9de.0e7558",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "36df1de9.d7e1b2",
        "type": "ui_group",
        "z": "",
        "name": "Floor Map",
        "tab": "b6aee9de.0e7558",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "10b63f1b.6f9391",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7d67a0fd.2ad08",
        "type": "ui_group",
        "z": "",
        "name": "Filters",
        "tab": "b6aee9de.0e7558",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "65e6b016.a3652",
        "type": "ui_group",
        "z": "",
        "name": "Farmer statistics",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "af4976b1.2695a8",
        "type": "ui_group",
        "z": "",
        "name": "Farmer statistics",
        "tab": "f117cae8.38d768",
        "order": 4,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "f117cae8.38d768",
        "type": "ui_tab",
        "z": "",
        "name": "Farmer",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b40dd8b3.658c48",
        "type": "ui_group",
        "z": "",
        "name": "IOT Status Chart",
        "tab": "5a3643e6.00972c",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "5a3643e6.00972c",
        "type": "ui_tab",
        "z": "",
        "name": "IOT Support",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "faca4658.70a1f8",
        "type": "ui_group",
        "z": "",
        "name": "Farmer Notifications",
        "tab": "f117cae8.38d768",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": true
    },
    {
        "id": "c17b876f.2eca08",
        "type": "ui_group",
        "z": "",
        "name": "Floor Map",
        "tab": "5a3643e6.00972c",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "933f8f51.89678",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e985d58d.3a3f68",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f11153fa.1440f",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "859bf179.9472a",
        "type": "ui_group",
        "z": "",
        "name": "Farmer Notifications",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "8fc6074c.ac30c8",
        "type": "ui_group",
        "z": "",
        "name": "Floor Map",
        "tab": "f117cae8.38d768",
        "order": 3,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "fc6a590b.635c68",
        "type": "ui_group",
        "z": "",
        "name": "IOT location",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "b436b97d.0a9248",
        "type": "ui_group",
        "z": "",
        "name": "Farm Overview",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "8615499d.0d0688",
        "type": "ui_group",
        "z": "",
        "name": "IOT Status Chart",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "69f2a424.7e258c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af4976b1.2695a8",
        "order": 2,
        "width": "3",
        "height": "5"
    },
    {
        "id": "f92c8add.a24488",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af4976b1.2695a8",
        "order": 4,
        "width": "3",
        "height": "5"
    },
    {
        "id": "c07f68a1.819ca8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af4976b1.2695a8",
        "order": 6,
        "width": "5",
        "height": "5"
    },
    {
        "id": "27bc5c3e.b78954",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af4976b1.2695a8",
        "order": 8,
        "width": "3",
        "height": "5"
    },
    {
        "id": "6f1f3d12.49d584",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af4976b1.2695a8",
        "order": 10,
        "width": "5",
        "height": "5"
    },
    {
        "id": "b427e3f9.55255",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "95405a5.d019ea8",
        "type": "CassandraDatabase",
        "z": "",
        "hosts": "54.188.146.37",
        "port": "9042",
        "keyspace": "cloud_sensor_data"
    },
    {
        "id": "c4107e33.d8c6a",
        "type": "users_isloggedin",
        "z": "92c9c3ef.39c9a",
        "name": "",
        "enableCustomHandler": true,
        "outputs": 2,
        "x": 291,
        "y": 218,
        "wires": [
            [
                "26bbc347.849e0c"
            ],
            [
                "5201f00e.e4fa"
            ]
        ]
    },
    {
        "id": "3293f591.c5395a",
        "type": "http in",
        "z": "92c9c3ef.39c9a",
        "name": "",
        "url": "/demo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 121,
        "y": 218,
        "wires": [
            [
                "c4107e33.d8c6a"
            ]
        ]
    },
    {
        "id": "26bbc347.849e0c",
        "type": "template",
        "z": "92c9c3ef.39c9a",
        "name": "for admins onl",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <script>\n            window.top.location.href = \"http://localhost:3000\"; \n        </script>\n    </head>\n    <body></body>\n</html>",
        "x": 581,
        "y": 178,
        "wires": [
            [
                "7a35c29c.ada97c"
            ]
        ]
    },
    {
        "id": "7a35c29c.ada97c",
        "type": "http response",
        "z": "92c9c3ef.39c9a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 771,
        "y": 178,
        "wires": []
    },
    {
        "id": "73b7f45e.ffffbc",
        "type": "template",
        "z": "92c9c3ef.39c9a",
        "name": "for allowed users only",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>LOGIN SUCCESS !!!</h1>\n        <h2>User: {{payload.user.username}}</h2>\n        <h2>Scope: {{payload.user.scope}}</h2>\n    </body>\n</html>",
        "x": 721,
        "y": 218,
        "wires": [
            [
                "8937bf01.e1e27"
            ]
        ]
    },
    {
        "id": "8937bf01.e1e27",
        "type": "http response",
        "z": "92c9c3ef.39c9a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 891,
        "y": 218,
        "wires": []
    },
    {
        "id": "dc2d184d.7e2fc8",
        "type": "switch",
        "z": "92c9c3ef.39c9a",
        "name": "check user scope",
        "property": "payload.user.scope",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 391,
        "y": 158,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5201f00e.e4fa",
        "type": "template",
        "z": "92c9c3ef.39c9a",
        "name": "custom login page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>Custom Users Login</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/demo';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>",
        "x": 391,
        "y": 298,
        "wires": [
            [
                "dd5212a7.2029b"
            ]
        ]
    },
    {
        "id": "dd5212a7.2029b",
        "type": "http response",
        "z": "92c9c3ef.39c9a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 571,
        "y": 298,
        "wires": []
    },
    {
        "id": "f82f6aef.017048",
        "type": "comment",
        "z": "92c9c3ef.39c9a",
        "name": "User unauthorized, show login page",
        "info": "",
        "x": 541,
        "y": 258,
        "wires": []
    },
    {
        "id": "e77d8784.1a5d08",
        "type": "comment",
        "z": "92c9c3ef.39c9a",
        "name": "User authorized, allow through",
        "info": "",
        "x": 521,
        "y": 118,
        "wires": []
    },
    {
        "id": "19b5f273.cc0d6e",
        "type": "inject",
        "z": "3736a922.aa8396",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "bcc0f0b9.15371"
            ]
        ]
    },
    {
        "id": "bcc0f0b9.15371",
        "type": "function",
        "z": "3736a922.aa8396",
        "name": "process farms",
        "func": "\nconst farms = flow.get(\"farms\") || [];\nfarms.forEach(farm => {\n    const res = { \"farmId\": farm.farmId };\n   // const res1= {\"farmerId\": farm.farmerId};\n    node.send({\"payload\": {farm, res}});\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "aeba4417.ef6e48"
            ]
        ]
    },
    {
        "id": "aeba4417.ef6e48",
        "type": "function",
        "z": "3736a922.aa8396",
        "name": "process ranches",
        "func": "const ranches = msg.payload.farm.ranches;\nconst fres = msg.payload.res;\nranches.forEach(ranch => {\n    const res = { ...fres, \"ranchId\": ranch.ranchId };\n    node.send({\"payload\": {ranch, res}});\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "9d6a331e.83b31"
            ]
        ]
    },
    {
        "id": "9d6a331e.83b31",
        "type": "function",
        "z": "3736a922.aa8396",
        "name": "process clusters",
        "func": "const clusters = msg.payload.ranch.clusters;\nconst rres = msg.payload.res;\nclusters.forEach(cluster => {\n    const cres = {\n        ...rres,\n        \"clusterId\": cluster.clusterId\n    };\n    const sensors = cluster.sensors;\n    const arr = [];\n    sensors.forEach(sensor => {\n    var typ  = sensor.type;\n    var val =   sensor.value;\n    arr.push(typ);\n    arr.push(val);\n    });\n    node.send({\n        \"payload\": arr\n    });\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "ccd603fe.40047"
            ]
        ]
    },
    {
        "id": "ccd603fe.40047",
        "type": "mqtt out",
        "z": "3736a922.aa8396",
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "1",
        "retain": "",
        "broker": "10b63f1b.6f9391",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "5feb8a9.7f42874",
        "type": "cassandra",
        "z": "3736a922.aa8396",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "82d56532.3274f8"
            ]
        ]
    },
    {
        "id": "1ff175ae.93635a",
        "type": "function",
        "z": "3736a922.aa8396",
        "name": "json parse",
        "func": "msg.topic = \"select * from cloud_sensor_data.sensordata where farm_id='10'\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "5feb8a9.7f42874"
            ]
        ]
    },
    {
        "id": "82d56532.3274f8",
        "type": "debug",
        "z": "3736a922.aa8396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "a7a1f675.63aeb8",
        "type": "inject",
        "z": "3736a922.aa8396",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "1ff175ae.93635a"
            ]
        ]
    },
    {
        "id": "fcfac7b3.1f91f8",
        "type": "cassandra",
        "z": "3736a922.aa8396",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9abeb1d5.a2f53"
            ]
        ]
    },
    {
        "id": "811f3fb5.07288",
        "type": "function",
        "z": "3736a922.aa8396",
        "name": "InsertGeneraterDataInDB",
        "func": "try {\n    \n    var i;\n    var m = \"BEGIN BATCH \";\n    var stmt;\n   \n    for (i = 0; i < msg.payload.length; i++) {\n        var a;\n        a= msg.payload[i];\n       // m += \"INSERT INTO cloud_sensor_data.sensordata (farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.sensordata (farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n     //  m += \"INSERT INTO cloud_sensor_data.sensordata (farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('farmer3','\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       \n    }\n    \n    m += \"APPLY BATCH;\";\n    msg.topic = m;\n    msg.payload = null;\n    // node.warn(msg);\n    \n} catch (e) {\n    node.error(`error in json parse: ${e}`);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "fcfac7b3.1f91f8"
            ]
        ]
    },
    {
        "id": "882a31ec.17c44",
        "type": "json",
        "z": "3736a922.aa8396",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "811f3fb5.07288"
            ]
        ]
    },
    {
        "id": "f80a61e2.86cba",
        "type": "mqtt in",
        "z": "3736a922.aa8396",
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "2",
        "broker": "933f8f51.89678",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "882a31ec.17c44"
            ]
        ]
    },
    {
        "id": "9abeb1d5.a2f53",
        "type": "debug",
        "z": "3736a922.aa8396",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "12155026.9909f",
        "type": "http in",
        "z": "85b67cb7.2993c",
        "name": "GET /sensors",
        "url": "/sensors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 229,
        "wires": [
            [
                "34395dde.bfc6d2",
                "68877fa9.2c48c"
            ]
        ]
    },
    {
        "id": "c8d660b3.3b0f6",
        "type": "http response",
        "z": "85b67cb7.2993c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 857,
        "y": 240,
        "wires": []
    },
    {
        "id": "34395dde.bfc6d2",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process (in memory)",
        "func": "const farms = flow.get(\"farms\") || [];\nconst query = msg.req.query;\n\n// const query = {farmerId:\"farmer3\", farmId:10, ranchId:1, clusterId:1}\n// const farms = [{\"farmId\":\"10\",\"farmerId\":\"farmer3\",\"ranches\":[{\"ranchId\":\"1\",\"clusters\":[{\"clusterId\":\"1\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]},{\"clusterId\":\"2\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]}]},{\"ranchId\":\"2\",\"clusters\":[{\"clusterId\":\"1\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]},{\"clusterId\":\"2\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]}]}]},{\"farmId\":\"11\",\"farmerId\":\"farmer3\",\"ranches\":[{\"ranchId\":\"2\",\"clusters\":[{\"clusterId\":\"2\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]}]}]},{\"farmId\":\"11\",\"farmerId\":\"farmer31\",\"ranches\":[{\"ranchId\":\"2\",\"clusters\":[{\"clusterId\":\"2\",\"sensors\":[{\"sensorId\":\"1\",\"type\":\"temperature\",\"status\":\"ON\"},{\"sensorId\":\"2\",\"type\":\"soil\",\"status\":\"ON\"}]}]}]}];\n\nconst getSensor = (cluster, farmerId, farmId, ranchId, clusterId) => {\n    // return nothing if cluster is falsy\n    if (!cluster) return [];\n    if (query.sensorId) {\n        let ret = [];\n        cluster.sensors.forEach(sensor => {\n            if (sensor.sensorId == query.sensorId) {\n                ret.push({\n                    farmerId,\n                    farmId,\n                    ranchId,\n                    clusterId,\n                    ...sensor\n                });\n            }\n        });\n        // document.writeln(JSON.stringify(ret))\n        msg.payload = ret;\n        node.send(msg);\n    } else {\n        let sensors = [];\n        let ret = {\n            farmerId,\n            farmId,\n            ranchId,\n            clusterId\n        };\n        cluster.sensors.forEach(sensor => {\n            ret = {\n                ...ret,\n                ...sensor\n            };\n            sensors.push(ret);\n        });\n        // document.writeln(JSON.stringify(sensors));\n        msg.payload = sensors;\n        node.send(msg);\n    }\n};\n\nconst getCluster = (ranch, farmerId, farmId, ranchId) => {\n    // return nothing if ranch is falsy\n    if (!ranch) return [];\n    if (query.clusterId) {\n        let ret = null;\n        ranch.clusters.some(cluster => {\n            if (cluster.clusterId == query.clusterId) {\n                ret = cluster;\n                return true;\n            }\n            return false;\n        });\n        if (ret) {\n            getSensor(ret, farmerId, farmId, ranchId, query.clusterId);\n        } else {\n            // cluster not found\n            // code to return nothing\n            // document.writeln(JSON.stringify([]));\n            msg.payload = [];\n            node.send(msg);\n        }\n    } else {\n        // code to return ALL nodes in this ranch\n        let sensors = [];\n        let ret = {\n            farmerId,\n            farmId,\n            ranchId\n        };\n        ranch.clusters.forEach(cluster => {\n            ret = {\n                ...ret,\n                clusterId: cluster.clusterId\n            };\n            cluster.sensors.forEach(sensor => {\n                ret = {\n                    ...ret,\n                    ...sensor\n                };\n                sensors.push(ret);\n            });\n        });\n        // document.writeln(JSON.stringify(sensors));\n        msg.payload = sensors;\n        node.send(msg);\n    }\n}\n\nconst getRanch = (farm, farmerId, farmId) => {\n    // return nothing if farm is falsy\n    if (!farm) return [];\n    if (query.ranchId) {\n        let ret = null;\n        farm.ranches.some(ranch => {\n            if (ranch.ranchId == query.ranchId) {\n                ret = ranch;\n                return true;\n            }\n            return false;\n        });\n        if (ret) {\n            getCluster(ret, farmerId, farmId, query.ranchId);\n        } else {\n            // ranch not found\n            // code to return nothing\n            // document.writeln(JSON.stringify([]));\n            msg.payload = [];\n            node.send(msg);\n        }\n    } else {\n        // code to return ALL nodes for this farm\n        let sensors = [];\n        let ret = {\n            farmerId,\n            farmId\n        };\n        farm.ranches.forEach(ranch => {\n            ret = {\n                ...ret,\n                ranchId: ranch.ranchId\n            };\n            ranch.clusters.forEach(cluster => {\n                ret = {\n                    ...ret,\n                    clusterId: cluster.clusterId\n                };\n                cluster.sensors.forEach(sensor => {\n                    ret = {\n                        ...ret,\n                        ...sensor\n                    };\n                    sensors.push(ret);\n                });\n            });\n        });\n        // document.writeln(JSON.stringify(sensors));\n        msg.payload = sensors;\n        node.send(msg);\n    }\n};\n\nconst getFarm = (farms, farmerId) => {\n    // return nothing if we could not find any farms\n    // for this farmer\n    if (farms.length === 0) return [];\n    if (query.farmId) {\n        let ret = null;\n        farms.some(farm => {\n            if (farm.farmId == query.farmId) {\n                ret = farm;\n                return true;\n            }\n            return false;\n        });\n        if (ret) {\n            getRanch(ret, farmerId, query.farmId);\n        }\n        // if we don't find a farm with that farmId\n        // return noting\n        else {\n            // code to return nothing\n            // document.writeln(JSON.stringify([]));\n            msg.payload = [];\n            node.send(msg);\n        }\n    } else {\n        // code to return all nodes in \"farms\"\n        let sensors = [];\n        farms.forEach(farm => {\n            let ret = {\n                farmerId,\n                farmId: farm.farmId\n            };\n            farm.ranches.forEach(ranch => {\n                ret = {\n                    ...ret,\n                    ranchId: ranch.ranchId\n                };\n                ranch.clusters.forEach(cluster => {\n                    ret = {\n                        ...ret,\n                        clusterId: cluster.clusterId\n                    };\n                    cluster.sensors.forEach(sensor => {\n                        ret = {\n                            ...ret,\n                            ...sensor\n                        };\n                        sensors.push(ret);\n                    });\n                });\n            });\n        });\n        // document.writeln(JSON.stringify(sensors));\n        msg.payload = sensors;\n        node.send(msg);\n    }\n};\n\n// if 'farmdId' is not present in the query\n// return ALL nodes\nif (query.farmerId) {\n    const ret = [];\n    farms.forEach(farm => {\n        if (farm.farmerId == query.farmerId) {\n            ret.push(farm);\n        }\n    });\n\n    if (ret.length > 0) {\n        getFarm(ret, query.farmerId);\n    } else {\n        // no farms for this farmerId\n        // return nothing\n        // document.writeln(JSON.stringify([]));\n        msg.payload = [];\n        node.send(msg);\n    }\n} else {\n    // code to return ALL nodes\n    let sensors = [];\n    farms.forEach(farm => {\n        let ret = {\n            farmerId: farm.farmerId,\n            farmId: farm.farmId\n        };\n        farm.ranches.forEach(ranch => {\n            ret = {\n                ...ret,\n                ranchId: ranch.ranchId\n            };\n            ranch.clusters.forEach(cluster => {\n                ret = {\n                    ...ret,\n                    clusterId: cluster.clusterId\n                };\n                cluster.sensors.forEach(sensor => {\n                    ret = {\n                        ...ret,\n                        ...sensor\n                    };\n                    sensors.push(ret);\n                });\n            });\n        });\n    });\n    // document.writeln(JSON.stringify(sensors));\n    msg.payload = sensors;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6eea6dfe.5b1d14",
        "type": "cassandra",
        "z": "79f883ec.307dec",
        "mydb": "95405a5.d019ea8",
        "name": "",
        "x": 530,
        "y": 40,
        "wires": [
            [
                "163da9e.0e12156"
            ]
        ]
    },
    {
        "id": "d14d7ee3.ba269",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "Coordinate query",
        "func": "//msg.topic = \"select * from cloud_sensor_data.SensorDataByFarmer where farmer_id = '1' and data_dump_dt = now() - interval 15 minute\";\nmsg.topic = \"select * from cloud_sensor_data.SensorDataByFarmer where farmer_id = '1'\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "6eea6dfe.5b1d14"
            ]
        ]
    },
    {
        "id": "fd736485.aadd88",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "d14d7ee3.ba269"
            ]
        ]
    },
    {
        "id": "b297233d.9fc7d",
        "type": "ui_template",
        "z": "79f883ec.307dec",
        "group": "faca4658.70a1f8",
        "name": "Farmer sensor status",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<table id=\"table\" border=\"1\">\n <tr>\n <th>Farmer ID</th>\n <th>Timestamp</th>\n <th>Ranch ID</th>\n <th>Cluster ID</th>\n  <th>Farm ID</th>\n <th>Sensor ID</th>\n <th>Sensor Type</th>\n <th>Timestamp</th>\n <th>Sensor Data</th>\n <th>Sensor Status</th>\n \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 920,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "163da9e.0e12156",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "threshold values",
        "func": "for(var i = 0; i< msg.payload.length; i++){\n    if(msg.payload[i].sensor_type === \"Temperature\")\n      {\n          if(msg.payload[i].sensor_data <='55')\n          {\n           msg.payload[i].notification =\"Temperature is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='85' )\n          {\n           msg.payload[i].notification =\"Temperature above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"humidity\")\n      {\n          if(msg.payload[i].sensor_data <='55')\n          {\n           msg.payload[i].notification =\"humidity is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='85' )\n          {\n           msg.payload[i].notification =\"humidity above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"Wind Speed\")\n      {\n          if(msg.payload[i].sensor_data <='55')\n          {\n           msg.payload[i].notification =\"Wind Speed is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='85' )\n          {\n           msg.payload[i].notification =\"Wind Speed above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"Rain\")\n      {\n          if(msg.payload[i].sensor_data <='55')\n          {\n           msg.payload[i].notification =\"Rain is below threshold level\";\n          }else if(msg.payload[i].sensor_data[i] >='85' )\n          {\n           msg.payload[i].notification =\"Rain above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n    if(msg.payload[i].sensor_type === \"Soil Moisture\")\n      {\n          if(msg.payload[i].sensor_data <='55')\n          {\n           msg.payload[i].notification =\"Soil Moisture is below threshold level\";\n          }else if(msg.payload[i].sensor_data >='85' )\n          {\n           msg.payload[i].notification =\"Soil Moisture above threshold level\";\n          }else\n          {\n           msg.payload[i].notification =\"\";\n          }\n          \n      }\n}\nreturn msg;\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 40,
        "wires": [
            [
                "b297233d.9fc7d"
            ]
        ]
    },
    {
        "id": "bd95181d.05db68",
        "type": "worldmap",
        "z": "79f883ec.307dec",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "path": "worldmapfarmer",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "b5d70812.8d5278",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "9773d93e.cc2698"
            ]
        ]
    },
    {
        "id": "9773d93e.cc2698",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "",
        "func": "msg.topic =\" select * from Network.Farm_LocationbyFarmer \";",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "5012be5.dfa984"
            ]
        ]
    },
    {
        "id": "129df461.5fca7c",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "6ae9e149.7738d"
            ]
        ]
    },
    {
        "id": "9d9ae451.0012f8",
        "type": "ui_template",
        "z": "79f883ec.307dec",
        "group": "8fc6074c.ac30c8",
        "name": "Farm location maps",
        "order": 0,
        "width": "12",
        "height": "7",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6ae9e149.7738d",
        "type": "template",
        "z": "79f883ec.307dec",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" width = 700px height=500px ></iframe>",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "9d9ae451.0012f8"
            ]
        ]
    },
    {
        "id": "5012be5.dfa984",
        "type": "cassandra",
        "z": "79f883ec.307dec",
        "mydb": "95405a5.d019ea8",
        "name": "",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "bd95181d.05db68"
            ]
        ]
    },
    {
        "id": "5ac08a6a.f62dd4",
        "type": "worldmap",
        "z": "79f883ec.307dec",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "path": "worldmapIOT",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "eb152369.be45",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "72ebb6e.ef66b48"
            ]
        ]
    },
    {
        "id": "72ebb6e.ef66b48",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "",
        "func": "msg.topic =\" select * from Network.Farm_LocationbyIOTManger \";",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "1146f379.b5c7fd"
            ]
        ]
    },
    {
        "id": "8d14d8c2.d158d8",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "73d94f7c.80d1"
            ]
        ]
    },
    {
        "id": "4337a592.d7ce5c",
        "type": "ui_template",
        "z": "79f883ec.307dec",
        "group": "fc6a590b.635c68",
        "name": "IOTlocation maps",
        "order": 0,
        "width": "14",
        "height": "7",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "73d94f7c.80d1",
        "type": "template",
        "z": "79f883ec.307dec",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" width = 700px height=500px ></iframe>",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "4337a592.d7ce5c"
            ]
        ]
    },
    {
        "id": "defc6ddc.46424",
        "type": "ui_button",
        "z": "79f883ec.307dec",
        "name": "",
        "group": "fc6a590b.635c68",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Farmer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "72ebb6e.ef66b48"
            ]
        ]
    },
    {
        "id": "1146f379.b5c7fd",
        "type": "cassandra",
        "z": "79f883ec.307dec",
        "mydb": "95405a5.d019ea8",
        "name": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "5ac08a6a.f62dd4"
            ]
        ]
    },
    {
        "id": "ed1c6045.60161",
        "type": "inject",
        "z": "79f883ec.307dec",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "fa448244.fe8ae"
            ]
        ]
    },
    {
        "id": "3bed3590.33c40a",
        "type": "ui_chart",
        "z": "79f883ec.307dec",
        "name": "",
        "group": "af4976b1.2695a8",
        "order": 9,
        "width": "7",
        "height": "5",
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 770,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "96ddb680.c232b8",
        "type": "ui_chart",
        "z": "79f883ec.307dec",
        "name": "",
        "group": "af4976b1.2695a8",
        "order": 5,
        "width": "7",
        "height": "5",
        "label": "WindSpeed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 770,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d479f41.e14e408",
        "type": "ui_chart",
        "z": "79f883ec.307dec",
        "name": "",
        "group": "af4976b1.2695a8",
        "order": 7,
        "width": "7",
        "height": "5",
        "label": "Rain",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 750,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d57f169d.f56608",
        "type": "ui_chart",
        "z": "79f883ec.307dec",
        "name": "",
        "group": "af4976b1.2695a8",
        "order": 3,
        "width": "7",
        "height": "5",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 760,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fa448244.fe8ae",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "DB query",
        "func": "//msg.topic = \"select * from cloud_sensor_data.SensorData where data_dump_dt = now() - interval 15 minute\";\nmsg.topic = \"select * from cloud_sensor_data.SensorData\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "c143737f.6d3d1"
            ]
        ]
    },
    {
        "id": "6be4188a.5353c8",
        "type": "ui_chart",
        "z": "79f883ec.307dec",
        "name": "Temperature",
        "group": "af4976b1.2695a8",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sensor",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 770,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c1b96ca0.71c3d",
        "type": "debug",
        "z": "79f883ec.307dec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "bfaaa42c.2f5f88",
        "type": "ui_template",
        "z": "79f883ec.307dec",
        "group": "b40dd8b3.658c48",
        "name": "IOT Manager Monitoring table",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<table id=\"table\" border=\"1\">\n <tr>\n <th>Farm ID</th> \n <th>Ranch ID</th>\n <th>Cluster ID</th>\n <th>Sensor ID</th>\n <th>Sensor Type</th>\n <th>Timestamp</th>\n <th>Sensor Data</th>\n <th>Sensor Status</th>\n \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "c1b96ca0.71c3d"
            ]
        ]
    },
    {
        "id": "8e5633e0.fd326",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "Parser",
        "func": "let arr = (msg.payload);\narr.forEach(sensor => {\n    const res = {\n        \"topic\": sensor.sensor_id,\n        \"payload\": sensor.sensor_data,\n        \"series\": sensor.sensor_id,\n    };\n    if(sensor.sensor_type === \"Temperature\") {\n        node.send([res,null,null,null,null]);\n    }\n    if(sensor.sensor_type === \"humidity\") {\n        node.send([null,res,null,null,null]);\n    }\n    if(sensor.sensor_type === \"Wind Speed\") {\n       node.send([null,null,res,null,null]);\n    }\n    if(sensor.sensor_type === \"Rain\") {\n      node.send([null,null,null,res,null]);\n    }\n    if(sensor.sensor_type === \"Soil Moisture\") {\n       node.send([null,null,null,null,res]);\n    }\n    \n    \n    \n});",
        "outputs": 5,
        "noerr": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "6be4188a.5353c8"
            ],
            [
                "d57f169d.f56608"
            ],
            [
                "96ddb680.c232b8"
            ],
            [
                "d479f41.e14e408"
            ],
            [
                "3bed3590.33c40a"
            ]
        ]
    },
    {
        "id": "fa924d96.e2f2b",
        "type": "function",
        "z": "79f883ec.307dec",
        "name": "Parser",
        "func": "let items = (msg.payload);\n_.countBy(data, function(items) { return data.name; });\nmsg.options = Object.keys(farm_id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "844641e1.7fc55"
            ]
        ]
    },
    {
        "id": "844641e1.7fc55",
        "type": "debug",
        "z": "79f883ec.307dec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "c143737f.6d3d1",
        "type": "cassandra",
        "z": "79f883ec.307dec",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "bfaaa42c.2f5f88",
                "8e5633e0.fd326",
                "fa924d96.e2f2b"
            ]
        ]
    },
    {
        "id": "3ed330f8.6d6e8",
        "type": "inject",
        "z": 0,
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "7e2b2903.f7ff68"
            ]
        ]
    },
    {
        "id": "7e2b2903.f7ff68",
        "type": "function",
        "z": 0,
        "name": "process farms",
        "func": "const farms = flow.get(\"farms\") || [];\nfarms.forEach(farm => {\n    const res = { \"farmId\": farm.farmId };\n    node.send({\"payload\": {farm, res}});\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "39640cf3.ff06b4"
            ]
        ]
    },
    {
        "id": "39640cf3.ff06b4",
        "type": "function",
        "z": 0,
        "name": "process ranches",
        "func": "const ranches = msg.payload.farm.ranches;\nconst fres = msg.payload.res;\nranches.forEach(ranch => {\n    const res = { ...fres, \"ranchId\": ranch.ranchId };\n    node.send({\"payload\": {ranch, res}});\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "822e718b.40c13"
            ]
        ]
    },
    {
        "id": "822e718b.40c13",
        "type": "function",
        "z": 0,
        "name": "process clusters",
        "func": "const clusters = msg.payload.ranch.clusters;\nconst rres = msg.payload.res;\nclusters.forEach(cluster => {\n    const cres = {\n        ...rres,\n        \"clusterId\": cluster.clusterId\n    };\n    const sensors = cluster.sensors;\n    const arr = [];\n    sensors.forEach(sensor => {\n        const res = {\n            ...cres,\n            \"sensorId\": sensor.sensorId,\n            \"type\": sensor.type,\n            \"status\": sensor.status\n        };\n        if (res.status === \"ON\") {\n            if (res.type === \"temperature\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                const hour = res.timestamp.getHours();\n                if (hour >= 7 && hour <= 12) {\n                    res.value = Math.floor(Math.random() * 4) + 40;\n                }\n                if (hour > 12 && hour <= 18) {\n                    res.value = Math.floor((Math.random() * 5) + 44);\n                }\n                if (hour > 18 && hour <= 23) {\n                    res.value = Math.floor((Math.random() * 4) + 35);\n                }\n            }\n            if (res.type === \"humidity\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                const hour = res.timestamp.getHours();\n                if (hour >= 7 && hour <= 12) {\n                    res.value = Math.floor(Math.random() * 6) + 70;\n                }\n                if (hour > 12 && hour <= 18) {\n                    res.value = Math.floor((Math.random() * 6) + 60);\n                }\n                if (hour > 18 && hour <= 23) {\n                    res.value = Math.floor((Math.random() * 6) + 65);\n                }\n            }\n            if (res.type === \"windSpeed\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                res.value = Math.floor((Math.random() * 5) + 8);\n            }\n            if (res.type === \"rain\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n               // const hour = sres.timestamp.getHours();\n                res.value = Math.floor(Math.random() * 3) + 0;\n            }\n            if (res.type === \"soilMoisture\") {\n                res.timestamp = new Date();\n                res.value = Math.floor((Math.random() * 2) + 5);\n            }\n            arr.push(res);\n        }\n    });\n    node.send({\n        \"payload\": arr\n    });\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "a6b1363.37fc1c8"
            ]
        ]
    },
    {
        "id": "a6b1363.37fc1c8",
        "type": "mqtt out",
        "z": 0,
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "1",
        "retain": "",
        "broker": "b427e3f9.55255",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "edba72cc.10ed9",
        "type": "mqtt in",
        "z": 0,
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "2",
        "broker": "b427e3f9.55255",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "f1a1f23.3a7561",
                "ead15d50.41e6c"
            ]
        ]
    },
    {
        "id": "7384e529.3869bc",
        "type": "function",
        "z": 0,
        "name": "json parse",
        "func": "try {\n    \n    var i;\n    var m = \"BEGIN BATCH \";\n    var stmt;\n    var n=1;\n    for (i = 0; i < msg.payload.length; i++) {\n        var a;\n        a= msg.payload[i];\n     \n       // m += \"INSERT INTO sample.Sensor (farm_id,data_dump_dt,ranch_id) VALUES ('\"+a.farmId+\"','\"+a.timestamp+\"','\"+a.ranchId+\"');\\n\";\n       // m += \"INSERT INTO sample.SensorData (Farm_id,Ranch_Id,clusterId,sensorId,sensor_type,status,sensor_value,data_dump_dt) VALUES ('\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.sensordata (farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+n+\"','\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.sensordatabyfarmer (Farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+n+\"','\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.DataByFarm (farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.databyranch (ranch_id,cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.DataByCluster (cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n      // m += \"Insert into cloud_sensor_data.StatusCheck (Sensor_Id,Cluster_Id,Sensor_StatusSensor_type,Data_dump_dt) VALUES();\"\n    }\n    \n    m += \"APPLY BATCH;\";\n    msg.topic = m;\n    msg.payload = null;\n    node.warn(msg);\n    \n} catch (e) {\n    node.error(`error in json parse: ${e}`);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "2d7126a4.b2549a"
            ]
        ]
    },
    {
        "id": "f1a1f23.3a7561",
        "type": "json",
        "z": 0,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "7384e529.3869bc"
            ]
        ]
    },
    {
        "id": "2d7126a4.b2549a",
        "type": "cassandra",
        "z": 0,
        "mydb": "95405a5.d019ea8",
        "name": "",
        "x": 570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6fb6069c.4aa638",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "ead15d50.41e6c",
        "type": "function",
        "z": 0,
        "name": "json parse",
        "func": "try {\n    msg.payload = JSON.parse(msg.payload);\n} catch (e) {\n    node.error(`error in json parse: ${e}`);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "6fb6069c.4aa638"
            ]
        ]
    },
    {
        "id": "be909078.3081d",
        "type": "function",
        "z": 0,
        "name": "process add farm",
        "func": "const newFarm = msg.req.body.farm;\nconst farms = flow.get(\"farms\") || [];\nfarms.push(newFarm);\nflow.set(\"farms\", farms);\nmsg.payload = farms;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 418,
        "y": 62,
        "wires": [
            [
                "55ac7559.9b3b6c"
            ]
        ]
    },
    {
        "id": "4744ea26.c2d524",
        "type": "http in",
        "z": 0,
        "name": "POST /farms",
        "url": "/farms",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 173,
        "y": 63,
        "wires": [
            [
                "be909078.3081d"
            ]
        ]
    },
    {
        "id": "55ac7559.9b3b6c",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdfbe1be.58f36",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "1d9bdf0c.7a7401",
        "type": "http in",
        "z": 0,
        "name": "GET /farms",
        "url": "/farms",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 167,
        "y": 127,
        "wires": [
            [
                "15dafd8c.5f7b12"
            ]
        ]
    },
    {
        "id": "15dafd8c.5f7b12",
        "type": "function",
        "z": 0,
        "name": "process get farm",
        "func": "node.warn(flow.get(\"farms\"))\nconst farms = flow.get(\"farms\") || [];\nmsg.payload = farms;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 417,
        "y": 129,
        "wires": [
            [
                "cdfbe1be.58f36"
            ]
        ]
    },
    {
        "id": "9e31c164.7e8f8",
        "type": "http in",
        "z": "85b67cb7.2993c",
        "name": "DELETE /sensors",
        "url": "/sensors",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 388,
        "wires": [
            [
                "3b17a65f.9b11ba"
            ]
        ]
    },
    {
        "id": "ac11d70c.8ea6f8",
        "type": "http response",
        "z": "85b67cb7.2993c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 388,
        "wires": []
    },
    {
        "id": "3b17a65f.9b11ba",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process",
        "func": "const {farmId, ranchId, clusterId, sensorId, type} = msg.req.query;\nconst farms = flow.get(\"farms\") || [];\n// remove sensor if found\ntry {\n    const farm = farms.find(f => f.farmId == farmId);\n    const ranch = farm.ranches.find(r => r.ranchId == ranchId);\n    const cluster = ranch.clusters.find(c => c.clusterId == clusterId);\n    cluster.sensors = cluster.sensors.filter(s => !(s.sensorId == sensorId && s.type == type));\n} catch(e) {\n    // do nothing\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 388,
        "wires": [
            [
                "ac11d70c.8ea6f8"
            ]
        ]
    },
    {
        "id": "1d1ab59a.719eca",
        "type": "http in",
        "z": "85b67cb7.2993c",
        "name": "POST /sensors",
        "url": "/sensors",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 449,
        "wires": [
            [
                "ec97b139.bce22"
            ]
        ]
    },
    {
        "id": "cdea7469.595918",
        "type": "http response",
        "z": "85b67cb7.2993c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 450,
        "wires": []
    },
    {
        "id": "ec97b139.bce22",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process",
        "func": "const farms = flow.get(\"farms\") || [];\ntry {\n    const sensor = msg.req.body.sensor;\n    node.error(sensor);\n    const {farmerId, farmId, ranchId, clusterId, sensorId, type} = sensor;\n    if(!farmerId || !farmId || !ranchId || !clusterId || !sensorId || !type) {\n        msg.payload = { \"error\": \"insufficient data\" };\n        return msg;\n    }\n    \n    // get or add a farm\n    const farm = farms.find(farm => farm.farmerId==farmerId && farm.farmId==farmId);\n    if(!farm) {\n        farms.push({\n            farmerId,\n            farmId,\n            \"ranches\": [\n                {\n                    ranchId,\n                    \"clusters\": [\n                        {\n                            clusterId,\n                            \"sensors\": [{ sensorId, type }]\n                        }\n                    ]\n                }\n            ]\n        });\n        flow.set(\"farms\", farms);\n        msg.payload = sensor;\n        return msg;\n    }\n    \n    // get or add a ranch\n    const ranch = farm.ranches.find(r => r.ranchId == ranchId);\n    if(!ranch) {\n        farm.ranches.push({\n            ranchId,\n            \"clusters\": [\n                {\n                    clusterId,\n                    \"sensors\": [{ sensorId, type }]\n                }    \n            ]\n        });\n        flow.set(\"farms\", farms);\n        msg.payload = sensor;\n        return msg;\n    }\n    \n    // get or add cluster\n    const cluster = ranch.clusters.find(c => c.clusterId == clusterId);\n    if(!cluster) {\n        ranch.clusters.push({ clusterId, \"sensors\": [{ sensorId, type }] });\n        flow.set(\"farms\", farms);\n        msg.payload = sensor;\n        return msg;\n    }\n    \n    // get or add sensor\n    const s = cluster.sensors.find(ss => ss.sensorId==sensorId && ss.type == type);\n    if(s) {\n        msg.payload = { \"error\": \"sensor already exists\" };\n        return msg;\n    } else {\n        cluster.sensors.push({ sensorId, type });\n        flow.set(\"farms\", farms);\n        msg.payload = sensor;\n        return msg;\n    }\n    \n} catch(e) {\n    msg.payload = { \"error\": e.message };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 449,
        "wires": [
            [
                "cdea7469.595918"
            ]
        ]
    },
    {
        "id": "cb18f061.a5a45",
        "type": "cassandra",
        "z": "85b67cb7.2993c",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 505,
        "y": 280,
        "wires": [
            [
                "b895b4b3.2d4ef8"
            ]
        ]
    },
    {
        "id": "68877fa9.2c48c",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "build query",
        "func": "msg.topic = \"select * from network_data.Farmer_Profile\";\n\nconst {farmerId, farmId, ranchId, clusterId, sensorId, type} = msg.req.query;\nconst whereClause = [];\nif(farmerId) {\n    whereClause.push(`farmer_id='${farmerId}'`);\n    if(farmId) {\n        whereClause.push(`farm_id='${farmId}'`);\n        if(ranchId) {\n            whereClause.push(`ranch_id='${ranchId}'`);\n            if(clusterId) {\n                whereClause.push(`cluster_id='${clusterId}'`);\n                if(sensorId) {\n                    whereClause.push(`sensor_id='${sensorId}'`);\n                    if(type) {\n                        whereClause.push(`sensor_type='${type}'`);\n                    }\n                }\n            }\n        }\n    }\n}\n\nif(whereClause.length > 0) {\n    msg.topic += ` where ${whereClause.join(\" and \")}`;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "cb18f061.a5a45"
            ]
        ]
    },
    {
        "id": "b895b4b3.2d4ef8",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "json transform",
        "func": "// msg.payload will be an array of sensor objects\nmsg.payload =  msg.payload.map(sensor => ({\n    \"farmerId\": sensor.farmer_id,\n    \"farmId\": sensor.farm_id,\n    \"ranchId\": sensor.ranch_id,\n    \"clusterId\": sensor.cluster_id,\n    \"sensorId\": sensor.sensor_id,\n    \"type\": sensor.sensor_type,\n    ...sensor\n}));\nreturn msg;",
        "outputs": 1,
        "noerr": 9,
        "x": 727,
        "y": 280,
        "wires": [
            [
                "c8d660b3.3b0f6"
            ]
        ]
    },
    {
        "id": "c61eb45a.fb8d58",
        "type": "http response",
        "z": "85b67cb7.2993c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "ac464fcb.67388",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process get farm",
        "func": "//node.warn(flow.get(\"farms\"))\nconst farms = flow.get(\"farms\") || [];\nmsg.payload = farms;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "c61eb45a.fb8d58"
            ]
        ]
    },
    {
        "id": "b855cba4.61b498",
        "type": "http in",
        "z": "85b67cb7.2993c",
        "name": "GET /farms",
        "url": "/farms",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ac464fcb.67388"
            ]
        ]
    },
    {
        "id": "be455f54.ef5cd",
        "type": "http in",
        "z": "85b67cb7.2993c",
        "name": "POST /farms",
        "url": "/farms",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e22a1dc8.92ea1"
            ]
        ]
    },
    {
        "id": "e22a1dc8.92ea1",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process add farm",
        "func": "const newFarm = msg.req.body.farm;\nconst farms = flow.get(\"farms\") || [];\nfarms.push(newFarm);\nflow.set(\"farms\", farms);\nmsg.payload = farms;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "babb35f3.413ea8",
                "c356de2a.fa999"
            ]
        ]
    },
    {
        "id": "342250d1.66563",
        "type": "debug",
        "z": "85b67cb7.2993c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "c356de2a.fa999",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "BuildFarmInsertQuery",
        "func": "let farms = msg.req.body.farm;\nlet buildQuery;\n\n// for (var i = 0; i < farms.length; i++){\n    // node.error(farms[i]);\n    const farmid = farms.farmId;\n    const farmerid = farms.farmerId;\n    // node.error(farmid);\n    const ranches = farms.ranches;\n    ranches.forEach(ranch => {\n        const ranchid = ranch.ranchId;\n        const clusters = ranch.clusters;\n        clusters.forEach(cluster => {\n            const clusterid = cluster.clusterId\n            const sensors = cluster.sensors;\n            const arr = [];\n            sensors.forEach(sensor => {\n                const sensorid = sensor.sensorId;\n                const sensortype = sensor.type;\n                buildQuery =\"Insert into network_data.Farmer_Profile(farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type) values ('\"+farmerid+\"','\"+farmid+\"','\"+ranchid+\"','\"+clusterid+\"','\"+sensorid+\"','\"+sensortype+\"');\";\n                // let buildQuery =\"select * from cloud_sensor_data.farmer_profile where farm_id='\"+farmid+\"' and ranch_id='\"+ranchid+\"' and clusterid='\"+clusterid+\"' and sensorid='\"+sensorid+\"'\";\n               // node.error(buildQuery);\n               // arr.push(buildQuery);\n            });\n            // node.send({\n           // \"payload\": arr\n  //  });\n        });\n    });\n// }\n msg.topic = buildQuery ;\n msg.payload = null;\n node.error(msg.topic);\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "809036f0.48f6f8"
            ]
        ]
    },
    {
        "id": "809036f0.48f6f8",
        "type": "cassandra",
        "z": "85b67cb7.2993c",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "342250d1.66563"
            ]
        ]
    },
    {
        "id": "babb35f3.413ea8",
        "type": "http response",
        "z": "85b67cb7.2993c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "4acfa087.ecb34",
        "type": "debug",
        "z": "85b67cb7.2993c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "67034b7.50f5db4",
        "type": "mqtt in",
        "z": "85b67cb7.2993c",
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "2",
        "broker": "10b63f1b.6f9391",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "ea471d4e.07172"
            ]
        ]
    },
    {
        "id": "ea471d4e.07172",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "json parse",
        "func": "try {\n    msg.payload = JSON.parse(msg.payload);\n  // msg.payload  = msg.payload.cloud[0];\n \n} catch (e) {\n    node.error(`error in json parse: ${e}`);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "4acfa087.ecb34"
            ]
        ]
    },
    {
        "id": "926016fd.1c3228",
        "type": "inject",
        "z": "85b67cb7.2993c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "1d33b2cb.0bd6dd"
            ]
        ]
    },
    {
        "id": "1d33b2cb.0bd6dd",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process farms",
        "func": "\nconst farms = flow.get(\"farms\") || [];\nfarms.forEach(farm => {\n    const res = { \"farmId\": farm.farmId, \"farmerId\": farm.farmerId };\n    node.send({\"payload\": {farm, res}});\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "5d9affa6.349d7"
            ]
        ]
    },
    {
        "id": "5d9affa6.349d7",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process ranches",
        "func": "const ranches = msg.payload.farm.ranches;\nconst fres = msg.payload.res;\nranches.forEach(ranch => {\n    const res = { ...fres, \"ranchId\": ranch.ranchId };\n    node.send({\"payload\": {ranch, res}});\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "194860b4.a8d2cf"
            ]
        ]
    },
    {
        "id": "194860b4.a8d2cf",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "process clusters",
        "func": "const clusters = msg.payload.ranch.clusters;\nconst rres = msg.payload.res;\nclusters.forEach(cluster => {\n    const cres = {\n        ...rres,\n        \"clusterId\": cluster.clusterId\n    };\n    const sensors = cluster.sensors;\n    const arr = [];\n    sensors.forEach(sensor => {\n        const res = {\n            ...cres,\n            \"sensorId\": sensor.sensorId,\n            \"type\": sensor.type,\n            \"status\": sensor.status\n        };\n        if (res.status === \"ON\") {\n            if (res.type === \"temperature\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                const hour = res.timestamp.getHours();\n                if (hour >= 7 && hour <= 12) {\n                    res.value = Math.floor(Math.random() * 4) + 40;\n                }\n                if (hour > 12 && hour <= 18) {\n                    res.value = Math.floor((Math.random() * 5) + 44);\n                }\n                if (hour > 18 && hour <= 23) {\n                    res.value = Math.floor((Math.random() * 4) + 35);\n                }\n            }\n            if (res.type === \"humidity\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                const hour = res.timestamp.getHours();\n                if (hour >= 7 && hour <= 12) {\n                    res.value = Math.floor(Math.random() * 6) + 70;\n                }\n                if (hour > 12 && hour <= 18) {\n                    res.value = Math.floor((Math.random() * 6) + 60);\n                }\n                if (hour > 18 && hour <= 23) {\n                    res.value = Math.floor((Math.random() * 6) + 65);\n                }\n            }\n            if (res.type === \"windSpeed\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                res.value = Math.floor((Math.random() * 5) + 8);\n            }\n            if (res.type === \"rain\") {\n                res.timestamp = new Date();\n                res.value = Math.random();\n                //const hour = sres.timestamp.getHours();\n                res.value = Math.floor(Math.random() * 3) + 0;\n            }\n            if (res.type === \"soilMoisture\") {\n                res.timestamp = new Date();\n                res.value = Math.floor((Math.random() * 2) + 5);\n            }\n            arr.push(res);\n        }\n    });\n    node.send({\n        \"payload\": arr\n    });\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "9d0fe9a.fab6c18"
            ]
        ]
    },
    {
        "id": "9d0fe9a.fab6c18",
        "type": "mqtt out",
        "z": "85b67cb7.2993c",
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "1",
        "retain": "",
        "broker": "10b63f1b.6f9391",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "b8e9e37.208202",
        "type": "cassandra",
        "z": "85b67cb7.2993c",
        "mydb": "95405a5.d019ea8",
        "name": "cloud_sensor_data",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "d4dc7671.4a09e8"
            ]
        ]
    },
    {
        "id": "c7f9998b.87f678",
        "type": "function",
        "z": "85b67cb7.2993c",
        "name": "InsertGeneraterDataInDB",
        "func": "try {\n    \n    var i;\n    var m = \"BEGIN BATCH \";\n    var stmt;\n    var n=1;\n    for (i = 0; i < msg.payload.length; i++) {\n       var a;\n       a= msg.payload[i];\n       m += \"INSERT INTO cloud_sensor_data.sensordata (farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+n+\"','\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.sensordatabyfarmer (Farmer_id,farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_status,sensor_data,data_dump_dt) VALUES ('\"+n+\"','\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.DataByFarm (farm_id,ranch_id,cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.farmId+\"','\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.databyranch (ranch_id,cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.ranchId+\"','\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.DataByCluster (cluster_id,sensor_id,sensor_type,sensor_data,data_dump_dt) VALUES ('\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.value+\"','\"+a.timestamp+\"');\\n\";\n       m += \"INSERT INTO cloud_sensor_data.StatusCheck (cluster_id,sensor_id,sensor_type,sensor_status,data_dump_dt) VALUES ('\"+a.clusterId+\"','\"+a.sensorId+\"','\"+a.type+\"','\"+a.status+\"','\"+a.timestamp+\"');\\n\";\n       \n    }\n    \n    m += \"APPLY BATCH;\";\n    msg.topic = m;\n    msg.payload = null;\n    node.warn(msg);\n    \n} catch (e) {\n    node.error(`error in json parse: ${e}`);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "b8e9e37.208202"
            ]
        ]
    },
    {
        "id": "474e4f17.2b0ef",
        "type": "json",
        "z": "85b67cb7.2993c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "c7f9998b.87f678"
            ]
        ]
    },
    {
        "id": "ab1d3c57.aa37c",
        "type": "mqtt in",
        "z": "85b67cb7.2993c",
        "name": "/clustertopic",
        "topic": "/clustertopic",
        "qos": "2",
        "broker": "933f8f51.89678",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "474e4f17.2b0ef"
            ]
        ]
    },
    {
        "id": "d4dc7671.4a09e8",
        "type": "debug",
        "z": "85b67cb7.2993c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 840,
        "wires": []
    }
]